@import "header-footer.less";
@import "all_fonts.less";
@import "social_media.less";
@import "button.less";

body {
font-family: Ubuntu-Thin;
}

.overlay {
font-size:50px;
text-align:center;
position: absolute;
top: 15%;
left:0;
right:0;
bottom:10%;
color:white;
text-shadow: 1px 1px #ccc;
}

.main-photo {
height:60%;
overflow:hidden;
}

.main-photo img {
  bottom:0;
}

.about-services {
  background-color:#f7f7f7;
  text-align:center;
}

span.glyphicon{
  font-size: 2.2em;

}
/**transition hover over glyphicon**/
span.glyphicon:hover{
  color:#269abc;
  transition:.6s ease-out;
}

.info-box {
  text-align:center;
  border-radius:5px;
  border: 2px solid #ccc;
  background-color:white;
  box-shadow: 3px 3px 5px #888888;
  font-size:20px;
  margin-top:10%;
}

.contact-info {
  padding-bottom:20px;
}

.our-story{
  text-align:center;
  padding-top:2%;
  height:60%;
  background-color: #A3DAFF;
}

.our-story {
  text-align: center;
}
