@import "header-footer.less";
@import "all_fonts.less";
@import "social_media.less";

body {
font-family: Ubuntu-Thin;
}

.overlay {
font-size:50px;
text-align:center;
position: absolute;
top: 10%;
left:0;
right:0;
bottom:10%;
color:white;
text-shadow: 1px 1px #ccc;
}

.main-photo {
height:50%;
overflow:hidden;
}

.about-services {
height: 60%;
  background-color:#f7f7f7;

}

.about-services h1, h2{
  text-align:center;
}

.about-services h5{
  color:#080808;
}

span.glyphicon{
  font-size: 2.2em;

}


.tiles, .plumbing, .bathroom{
  text-align:center;
}

.our-story{
  height:80%;
  background: linear-gradient(#00001A,#f7f7f7 );

}

.our-story h1, h3, h5{
  color:#f7f7f7;
}

.our-people, .experience, .modern-refurb{
  color:#f7f7f7;
  text-align:center;

}

.our-people{
  padding-top:20px;
}