.navbar.transparent.navbar-inverse.navbar-fixed-top {
background: rgba(0,0,0,0.75);
height:90px;
font-family: Ubuntu-Bold;
}

.navbar.transparent.navbar-inverse.navbar-static-bottom {
height:270px;
background: rgba(0,0,0,0.75);
font-family: Ubuntu-Bold;
}

.navbar-brand, .navbar-nav a {
    font-size:25px;
    margin-top:7%;
}

.navbar-nav li {
    font-size:10px;
    margin-top:2%;
}

.footer .info {
color:white;
position:absolute;
bottom:0;
left:0;
right:0;
}

.contact ul {
color:white;
list-style-type:none;
text-align:center;
}

.social-media {
text-align:right;
color:white;
}
