@import "social_media.less";

.navbar.transparent.navbar-inverse {
  background: rgba(0,0,0,0.75);
  height:90px;
}

.footer {
  height: 50px;
  background: rgba(0,0,0,0.75);
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}



