@import "social_media.less";
@import "all_fonts.less";
@import "header-footer.less";

body {
font-family: Ubuntu-Bold;
}

.carousel-caption {
    font-size: 100px;
    margin-bottom: 15%;
}

.get-in-touch {
height:25%;
}

#services {
height:25%;
background-color:#ccc;
}

.about-us {
height:25%;
}


